body {
    background-image: url("huh.jpg");
}
body {
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: aquamarine;
}

h2 {
    color: aqua;
}

h3 {
    color: cornsilk;
}