body {
    color: rgb(180, 180, 252);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(212, 165, 201);
}

h1  {
    color: cornsilk;
}



body {
    background-image: url("697b023b-64a5-49a0-8059-27b963453fb1.gif");
}